<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCvvVl0Oe9Z1xcO8QAW6KzCohib2W2n_eo</string>
	<key>GCM_SENDER_ID</key>
	<string>781612852839</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.hoper.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>hoper-d43fb</string>
	<key>STORAGE_BUCKET</key>
	<string>hoper-d43fb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:781612852839:ios:1e867382136423a92116c2</string>
</dict>
</plist>